<div class="uk-child-width-1-2@s uk-light" uk-grid>
  <div>
      <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(images/dark.jpg);">
          <p class="uk-h4">Cover</p>
      </div>
  </div>
  <div>
      <div class="uk-background-contain uk-background-muted uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(images/dark.jpg);">
          <p class="uk-h4">Contain</p>
      </div>
  </div>
</div>